## Exercício 1: Vestibular

Considere que a os dados gerados na célula abaixo contêm o número de acertos de 100 alunos em um vestibular para um curso de exatas, divididas pelos respectivos assuntos. Considere que cada assunto possui um número de questões conforme a tabela abaixo:

| assunto | número de questões |
|:---:|:---:|
| Matemática | 24 |
| Português | 18 |
| Geografia | 8 |
| Inglês | 8 |
| História | 8 |
| Física | 12 |
| Química | 12 |

Usando os comandos de operações com DataFrames que você aprendeu na Aula 03, calcule:

1. (operações com escalar) Calcule o percentual de acerto dos alunos por assunto.  
2. (operações entre *DataFrames) Calcule o total de acertos de cada aluno.  
3. Calcule o porcentual geral de cada aluno.  
4. Suponha que a nota de corte para a segunda fase seja 45. Quantos alunos tiveram nota maior que 45?

In [41]:
import pandas as pd
import numpy as np

np.random.seed(42)
df_mat = pd.DataFrame(np.random.randint(24, size=(100, 1)), columns=['Qt_acertos'])

df_por = pd.DataFrame(np.random.randint(18, size=(100, 1)), columns=['Qt_acertos'])

df_geo = pd.DataFrame(np.random.randint(8, size=(100, 1)), columns=['Qt_acertos'])

df_ing = pd.DataFrame(np.random.randint(8, size=(100, 1)), columns=['Qt_acertos'])

df_his = pd.DataFrame(np.random.randint(8, size=(100, 1)), columns=['Qt_acertos'])

df_fis = pd.DataFrame(np.random.randint(12, size=(100, 1)), columns=['Qt_acertos'])

df_qui = pd.DataFrame(np.random.randint(12, size=(100, 1)), columns=['Qt_acertos'])

In [50]:
# 1) Seu código aqui

# Consolidando os dados em um único DataFrame
df = pd.concat([df_mat, df_por, df_geo, df_ing, df_his, df_fis, df_qui], axis=1)

# Quantidade de questões por assunto
total_questoes = {
    'Matemática': 24,
    'Português': 18,
    'Geografia': 8,
    'Inglês': 8,
    'História': 8,
    'Física': 12,
    'Química': 12
}

# Renomeando as colunas do DataFrame para corresponder às disciplinas
df.columns = total_questoes.keys()

# Calculando o percentual de acerto dos alunos por assunto
percentual_acerto = df.apply(lambda col: col / total_questoes[col.name] * 100, axis=0)

# Exibindo o resultado
round(percentual_acerto,2)

    Matemática  Português  Geografia  Inglês  História  Física  Química
0        25.00      38.89       87.5    37.5      12.5   66.67    25.00
1        79.17      55.56        0.0     0.0       0.0   91.67    66.67
2        58.33      88.89        0.0    62.5      87.5   33.33    33.33
3        41.67      38.89       37.5    50.0       0.0    0.00    66.67
4        29.17      11.11       25.0    87.5       0.0   75.00    25.00
..         ...        ...        ...     ...       ...     ...      ...
95       25.00      22.22       87.5    12.5      50.0   75.00    25.00
96       33.33       5.56       50.0    75.0      12.5   33.33    25.00
97       95.83      27.78        0.0    25.0      50.0    8.33    41.67
98        0.00      55.56       37.5    12.5      62.5   83.33    91.67
99       45.83      83.33        0.0    12.5      75.0   58.33    16.67

[100 rows x 7 columns]

In [32]:
# 2) Seu código aqui

# Calculando o total de acertos de cada aluno
total_acertos = df_mat + df_por + df_geo + df_ing + df_his + df_fis + df_qui

total_acertos

    Qt_acertos
0           35
1           48
2           50
3           32
4           30
..         ...
95          34
96          27
97          40
98          40
99          42

[100 rows x 1 columns]

In [65]:
# 3) Seu código aqui


# Calculando o percentual geral de cada aluno
total_questoes = sum(total_questoes.values())

percentual_geral = (total_acertos / total_questoes) * 100
round(percentual_geral,2)

    Qt_acertos
0        38.89
1        53.33
2        55.56
3        35.56
4        33.33
..         ...
95       37.78
96       30.00
97       44.44
98       44.44
99       46.67

[100 rows x 1 columns]

In [69]:
# 4) Seu código aqui


# Determinando quantos alunos tiveram nota maior que 45
nota_corte = 45

alunos_acima_corte = (total_acertos > nota_corte).sum()
alunos_acima_corte

Qt_acertos    31
dtype: int64

## 2) Vestibular II

Ainda sobre o mesmo banco de dados:

1. Neste vestibular, quem 'zera' em matemática, física ou química está desqualificado. Monte um novo *DataFrame* com os alunos desqualificados por este critério.
2. Quantos são esses alunos?
3. Qual a média desses alunos em história e geografia?
4. Monte um *DataFrame* com os alunos que passaram para a segunda fase. Repare que estes alunos não podem ter sido desqualificados.

In [76]:
# seu código aqui



df_eliminados = total[(df_mat['Qt_acertos'] == 0) | 
                      (df_fis['Qt_acertos'] == 0) | 
                      (df_qui['Qt_acertos'] == 0)]

alun_desquali

    Matemática  Português  Geografia  Inglês  História  Física  Química
3           10          7          3       4         0       0        8
6            6          0          7       7         5       0        4
10          10          8          3       2         1       7        0
12          20          8          3       7         1       0        3
14           7         11          1       7         1       4        0
20          23         11          6       5         6       2        0
25           0          4          7       4         0       4        8
26          11         14          6       2         7       0        0
27          21         13          1       5         7       3        0
33          14          8          0       5         6       6        0
35          11         14          6       3         3       0       11
49           8          1          1       0         1       0        8
56           7          6          7       5         6       0        8
65           1          8          2       4         3       0        6
66           5          4          3       6         3       0       10
72          11         16          3       4         7       0        9
73           1         16          2       4         3       0       11
74           9         11          0       7         5       7        0
84          15          1          0       5         1       0        4
89          23         11          7       7         6       9        0
92          14         10          1       6         1       8        0
94           0          5          2       6         1       3        8
98           0         10          3       1         5      10       11

## 3) Vacinações no Acre
Vamos trabalhar agora com a base de vacinações no Acre. Para facilitar a sua vida, copiamos o link do arquivo na célula abaixo.

1. Quantas vacinas estão registradas nessa base?  
2. Quantos pacientes foram vacinados? (considere um paciente para cada valor único de ```paciente_id```)  
3. Quantos pacientes únicos tomaram a primeira dose? OBS: Há um caractere especial neste campo. Receba os valores do campo com o método ```.unique()```.   
4. Quantos pacientes com menos de 18 anos foram vacinados?  
5. Quantos estabelecimentos aplicaram vacina no Acre?


**OBS:** O portal do DATASUS pode apresentar instabilidades, retornando um erro na segunda célula abaixo. Por este motivo está disponível uma base estática, que se for baixada para o seu *working directory* pode ser lida com este comando: ```df = pd.read_csv('registros de vacinacao covid ACRE.csv', sep=';')```.

**OBS2:** Para saber qual é o seu working directory, rode no jupyter: ```!pwd```.

In [119]:
arquivo = 'https://s3.sa-east-1.amazonaws.com/ckan.saude.gov.br/SIPNI/COVID/uf/uf%3DAC/part-00000-5923c43d-6540-4af5-ba7d-a8d7a1cde822.c000.csv'

In [121]:
df.head()

,document_id,paciente_id,paciente_idade,paciente_dataNascimento,paciente_enumSexoBiologico,paciente_racaCor_codigo,paciente_racaCor_valor,paciente_endereco_coIbgeMunicipio,paciente_endereco_coPais,paciente_endereco_nmMunicipio,...,vacina_categoria_codigo,vacina_categoria_nome,vacina_lote,vacina_fabricante_nome,vacina_fabricante_referencia,vacina_dataAplicacao,vacina_descricao_dose,vacina_codigo,vacina_nome,sistema_origem
0,498155d6-7d97-4e0c-9cc4-cfe142549e4e-i0b0,0a3b1c3caf18e2e2aefecd09f3ddc5f1c530c42483a90f...,48,1973-05-06,F,1,BRANCA,120005.0,10.0,ASSIS BRASIL,...,1.0,Comorbidades,212VCD003ZVAA,ASTRAZENECA/FIOCRUZ,Organization/33781055000135,2021-07-02,2ª Dose,85,COVID-19 ASTRAZENECA/FIOCRUZ - COVISHIELD,Novo PNI
1,bc230a77-3dca-4b92-bda6-5285805045fd-i0b0,dd2bc9fb84a699061c85aee284cf8ce7bad949d1d18631...,45,1976-07-18,F,1,BRANCA,510517.0,10.0,JURUENA,...,2.0,Faixa Etária,31065BD,PFIZER,Organization/28290,2022-01-07,2ª Dose,87,COVID-19 PFIZER - COMIRNATY,Novo PNI
2,819a7926-db35-46b9-b63c-b10eb37634f9-i0b0,2a3d9985919b32035f30982b9f79c96bfdd8fe38ac12af...,31,1990-10-03,M,4,AMARELA,120020.0,10.0,CRUZEIRO DO SUL,...,2.0,Faixa Etária,21PVCD368Z,ASTRAZENECA/FIOCRUZ,149,2022-07-18,2º Reforço,85,COVID-19 ASTRAZENECA/FIOCRUZ - COVISHIELD,Novo PNI
3,bc314cf0-1ee0-423e-a13d-4c058ce4b9bb-i0b0,b8fb6ba887cd182c12ae2643b3c705f0f3cb8e1b006389...,23,1998-04-08,F,3,PARDA,120033.0,10.0,MANCIO LIMA,...,2.0,Faixa Etária,216VCD193Z,ASTRAZENECA/FIOCRUZ,Organization/33781055000135,2021-07-28,1ª Dose,85,COVID-19 ASTRAZENECA/FIOCRUZ - COVISHIELD,Novo PNI
4,98b0bc23-d411-466b-8403-8602b5618d2a-i0b0,9874ecb06a81cf28023df572eb2c9bf7a4cb91ff7fe7ac...,68,1955-03-25,M,99,SEM INFORMACAO,120030.0,10.0,FEIJO,...,2.0,Faixa Etária,230165,BUTANTAN,152,2024-03-22,Única,33,INF3,Novo PNI

In [122]:
df.shape[0]

387095

In [123]:
# 1) Sua solução aqui

df = pd.read_csv(arquivo, sep=';')

df.shape[0]

387095

In [127]:
# 2)
df['paciente_id'].nunique()

316461

In [128]:
# 3)

primeira_dose = df['vacina_descricao_dose'].unique()[0]
df['paciente_id'].loc[df['vacina_descricao_dose'] == primeira_dose].nunique()

120237

In [137]:
# 4)
df_menor = df[df["paciente_idade"]<18]
df_menor['paciente_id'].nunique()

68208

In [143]:
# 5)

df['estabelecimento_razaoSocial'].nunique()

#não disponível no csv

62

## 4) Vacinação II
Gere um *DataFrame* que contenha somente os estabelecimentos que aplicaram vcinas a menores de 18 anos. Nesse *DataFrame* devem conter somente os dados dos estabelecimentos, mais uma coluna sendo a quantidade de vacinas que o estabelecimento aplicou a menores de 18 anos.  
  
1. crie uma cópia do *DataFrame* original, contendo somente os registros de vacinas realizadas a menores de 18 anos.  
2. crie uma lista das colunas desse *DataFrame* com o atributo de *DataFrame* **.columns()**  
3. Nesse *DataFrame* faça uma contagem do campo ```vacina_categoria_nome```.
3. a partir da lista de colunas, escolha somente aquelas que são referentes ao estabelecimento, faça uma lista com esses valores.  
4. usando o método *.loc*, selecione somente essas variáveis  
5. Aplique o método **.drop_duplicates** e crie uma lista com uma linha para cada estabelecimento, com os dados do estabelecimento

In [139]:
# 1)
df_menor_idade = df[df["paciente_idade"] < 18].copy()

In [140]:
# 2)
df_menor_idade.columns

Index(['document_id', 'paciente_id', 'paciente_idade',
       'paciente_dataNascimento', 'paciente_enumSexoBiologico',
       'paciente_racaCor_codigo', 'paciente_racaCor_valor',
       'paciente_endereco_coIbgeMunicipio', 'paciente_endereco_coPais',
       'paciente_endereco_nmMunicipio', 'paciente_endereco_nmPais',
       'paciente_endereco_uf', 'paciente_endereco_cep',
       'paciente_nacionalidade_enumNacionalidade', 'estabelecimento_valor',
       'estabelecimento_razaoSocial', 'estalecimento_noFantasia',
       'estabelecimento_municipio_codigo', 'estabelecimento_municipio_nome',
       'estabelecimento_uf', 'vacina_grupoAtendimento_codigo',
       'vacina_grupoAtendimento_nome', 'vacina_categoria_codigo',
       'vacina_categoria_nome', 'vacina_lote', 'vacina_fabricante_nome',
       'vacina_fabricante_referencia', 'vacina_dataAplicacao',
       'vacina_descricao_dose', 'vacina_codigo', 'vacina_nome',
       'sistema_origem'],
      dtype='object')

In [141]:
# 3)
df_menor_idade['vacina_categoria_nome'].value_counts()

vacina_categoria_nome
Faixa Etária                                      47504
Povos Indígenas                                    4667
Outros                                             3755
Povos e Comunidades Tradicionais                    819
Trabalhadores de Saúde                              254
Comorbidades                                         56
População Privada de Liberdade                       53
Gestantes                                            42
Pessoas com Deficiência                              11
Pessoas Institucionalizadas                           3
Trabalhadores da Educação                             2
Pessoas de 60 anos ou mais institucionalizadas        1
Puérperas                                             1
Name: count, dtype: int64

In [146]:
# 4)
lista_variaveis = ['estabelecimento_valor',
       'estabelecimento_razaoSocial', 'estalecimento_noFantasia',
       'estabelecimento_municipio_codigo', 'estabelecimento_municipio_nome',
       'estabelecimento_uf']
df_menor_lista = df_menor_idade.loc[:,lista_variaveis]

In [147]:
# 5)

df_menor_lista = df_menor_lista.drop_duplicates()
df_menor_lista.shape

(204, 6)